@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.page-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-4);

  @include respond-to('md') {
    padding: 0 var(--space-6);
  }
}
