<header class="header">
  <div class="container">
    <button class="logo" (click)="onLogoClick()" aria-label="Minha Prata - Volta para página inicial">
      MinhaPrata
    </button>

    <nav>
      <button *ngFor="let category of categories; trackBy: trackByCategory" class="nav-button"
        [class.active]="category.slug === activeCategory" (click)='onCategorySelect(category)'
        [attr.aria-current]="category.slug === activeCategory ? 'page' : null"
        [attr.aria-label]="'Filtrar produtos por ' + category.name">
        <i [class]="category.icon" aria-hidden="true"></i>
        {{ category.name }}
      </button>
    </nav>

    <div class="user-cart">
      <button id="userBtn" (click)="onUserClick()">
        <i class="fa-regular fa-user"></i>
      </button>
      <button id="cartBtn" (click)="onCartClick()">
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
    </div>
  </div>
</header>